# Scala .gitignore
#
# other
/out/

# intellij
/src/intellij*/*.iml
/src/intellij*/*.ipr
/src/intellij*/*.iws
**/.cache
/.idea
/.settings

# vscode
/.vscode

# metals
.metals
.bloop
project/**/metals.sbt
project/metals.sbt

# custom
.bsp
.addons-dont-touch
.DS_Store
generated
docs/generated
test_run_dir
tmp
./MemoryTestFile.hex
*.bin
*.elf
*.o
/*.hex
/*.json
/*.fir
/*.v
/*.sv
/*.f
/*.vcd
/obj_dir
/*.mem
/tmphex
/chiselv.bin
.genboard
/firtool*
