LOCATE COMP "clock" SITE "G2";
IOBUF PORT "clock" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock" 25 MHZ;

LOCATE COMP "reset" SITE "D6";
IOBUF PORT "reset" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "io_btn1" SITE "R1";  # FIRE1
IOBUF  PORT "io_btn1" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "io_tx" SITE "L4";
LOCATE COMP "io_rx" SITE "M1";

IOBUF PORT "io_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_rx" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "io_led7" SITE "H3"; # LED7
LOCATE COMP "io_led6" SITE "E1"; # LED6
LOCATE COMP "io_led5" SITE "E2"; # LED5
LOCATE COMP "io_GPIO0[3]" SITE "D1"; # LED4
LOCATE COMP "io_GPIO0[2]" SITE "D2"; # LED3
LOCATE COMP "io_GPIO0[1]" SITE "C1"; # LED2
LOCATE COMP "io_GPIO0[0]" SITE "C2"; # LED1
LOCATE COMP "io_led0" SITE "B2";
IOBUF PORT "io_led0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_GPIO0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led6" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# PMOD0
LOCATE COMP "io_PMOD0_A0" SITE "L17"; #GN17
LOCATE COMP "io_PMOD0_A1" SITE "M17"; #GN16
LOCATE COMP "io_PMOD0_A2" SITE "P16"; #GN15 <------ NOT WORKING ON MY BOARD
LOCATE COMP "io_PMOD0_A3" SITE "U17"; #GN14
LOCATE COMP "io_PMOD0_B0" SITE "L16"; #GP17
LOCATE COMP "io_PMOD0_B1" SITE "N16"; #GP16
LOCATE COMP "io_PMOD0_B2" SITE "N17"; #GP15
LOCATE COMP "io_PMOD0_B3" SITE "U18"; #GP14
IOBUF PORT  "io_PMOD0_A0" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_A1" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_A2" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_A3" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_B0" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_B1" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_B2" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_B3" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# PMOD1
LOCATE COMP "io_PMOD1_A0" SITE "D16"; #GN24
LOCATE COMP "io_PMOD1_A1" SITE "C17"; #GN23
LOCATE COMP "io_PMOD1_A2" SITE "C15"; #GN22
LOCATE COMP "io_PMOD1_A3" SITE "D17"; #GN21
LOCATE COMP "io_PMOD1_B0" SITE "C16"; #GP24
LOCATE COMP "io_PMOD1_B1" SITE "B17"; #GP23
LOCATE COMP "io_PMOD1_B2" SITE "B15"; #GP22
LOCATE COMP "io_PMOD1_B3" SITE "C18"; #GP21
IOBUF PORT  "io_PMOD1_A0" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_A1" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_A2" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_A3" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_B0" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_B1" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_B2" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_B3" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
