LOCATE COMP "clock" SITE "G2";
IOBUF PORT "clock" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock" 15 MHZ;

LOCATE COMP "reset" SITE "D6";
IOBUF PORT "reset" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "io_UART0tx" SITE "L4";
LOCATE COMP "io_UART0rx" SITE "M1";
IOBUF PORT "io_UART0tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_UART0rx" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "io_led0" SITE "B2";         # LED0 (Heartbeat)
IOBUF PORT "io_led0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "io_GPIO0[0]" SITE "C2";     # LED1
IOBUF PORT "io_GPIO0[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "io_GPIO0[1]" SITE "C1";     # LED2
IOBUF PORT "io_GPIO0[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "io_GPIO0[2]" SITE "D2";     # LED3
IOBUF PORT "io_GPIO0[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "io_GPIO0[3]" SITE "D1";     # LED4
IOBUF PORT "io_GPIO0[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "io_GPIO0[4]" SITE "E2";     # LED5
IOBUF PORT "io_GPIO0[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "io_GPIO0[5]" SITE "E1";     # LED6
IOBUF PORT "io_GPIO0[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "io_GPIO0[6]" SITE "H3";         # LED7
IOBUF PORT "io_GPIO0[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Pushbuttons
LOCATE COMP "io_GPIO0[7]" SITE "R1";  # FIRE1
IOBUF  PORT "io_GPIO0[7]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "io_GPIO0[8]" SITE "T1";  # FIRE2
IOBUF  PORT "io_GPIO0[8]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "btn[3]" SITE "R18"; # UP W1->R18
LOCATE COMP "btn[4]" SITE "V1";  # DOWN
LOCATE COMP "btn[5]" SITE "U1";  # LEFT
LOCATE COMP "btn[6]" SITE "H16"; # RIGHT Y2->H16
IOBUF  PORT "btn[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# PMOD0
LOCATE COMP "io_PMOD0_A0" SITE "L17"; #GN17
LOCATE COMP "io_PMOD0_A1" SITE "M17"; #GN16
LOCATE COMP "io_PMOD0_A2" SITE "P16"; #GN15 <------ NOT WORKING ON MY BOARD
LOCATE COMP "io_PMOD0_A3" SITE "U17"; #GN14
LOCATE COMP "io_PMOD0_B0" SITE "L16"; #GP17
LOCATE COMP "io_PMOD0_B1" SITE "N16"; #GP16
LOCATE COMP "io_PMOD0_B2" SITE "N17"; #GP15
LOCATE COMP "io_PMOD0_B3" SITE "U18"; #GP14
IOBUF PORT  "io_PMOD0_A0" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_A1" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_A2" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_A3" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_B0" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_B1" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_B2" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD0_B3" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# PMOD1
LOCATE COMP "io_PMOD1_A0" SITE "D16"; #GN24
LOCATE COMP "io_PMOD1_A1" SITE "C17"; #GN23
LOCATE COMP "io_PMOD1_A2" SITE "C15"; #GN22
LOCATE COMP "io_PMOD1_A3" SITE "D17"; #GN21
LOCATE COMP "io_PMOD1_B0" SITE "C16"; #GP24
LOCATE COMP "io_PMOD1_B1" SITE "B17"; #GP23
LOCATE COMP "io_PMOD1_B2" SITE "B15"; #GP22
LOCATE COMP "io_PMOD1_B3" SITE "C18"; #GP21
IOBUF PORT  "io_PMOD1_A0" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_A1" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_A2" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_A3" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_B0" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_B1" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_B2" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "io_PMOD1_B3" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
